<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">AC</button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">AnalyzCorp</div>
    <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
      <i class="pi pi-times close-icon"></i>
    </button>
  </div>
  <div class="scrollwrap scrollwrap_delayed">
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navData">
        <a class="sidenav-nav-link"
           (click)="handleClick(data)"
           *ngIf="data.items && data.items.length > 0"
           [ngClass]="getActiveClass(data)"
        >
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
          {{data.label}}
        </span>
          <i class="menu-collapse-icon"
             *ngIf="data.items && collapsed"
             [ngClass]="!data.expanded ? 'pi pi-angle-right' : 'pi pi-angle-down'"></i>
        </a>
        <a class="sidenav-nav-link"
           *ngIf="!data.items || (data.items && data.items.length === 0)"
           [routerLink]="[data.routeLink]"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
        >
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
          {{data.label}}
        </span>
        </a>
        <div *ngIf="collapsed && data.items && data.items.length > 0">
          <shared-sublevel-menu
            [data]="data"
            [collapsed]="collapsed"
            [multiple]="multiple"
            [expanded]="data.expanded"
          >
          </shared-sublevel-menu>
        </div>
      </li>
    </ul>
  </div>
</div>
