<header class="header-container">
    <button type="button" class="menu-toggle" (click)="onToggleMenu()">
        <i class= "pi pi-bars icon-transition" [class.rotated]="isMenuOpen"></i>
    </button>

    <h1 class="title">{{'APP_TITLE' | translate}}</h1>

    <button class="lang-toggle" (click)="toggleLanguage()" [title]="currentLang === 'es' ? 'Español' : 'English'">
      <img [src]="'http://flagcdn.com/w40/' + currentLang + '.png'" alt="Flag" class="flag-icon">
    </button>

    <button type="button" class="theme-toggle" (click)="toggleTheme()">
        <i [ngClass]="isDarkMode ? 'pi pi-sun' : 'pi pi-moon'"></i>
    </button>
</header>
