<div class="accounts-container">
  <div class="accounts-header">
    <h2>{{ 'MENU.FINANCE_ITEMS.ACCOUNT' | translate }}</h2>
    <button class="add-account-button">
      <i class="pi pi-plus"></i>
      {{ 'ADD_ACCOUNT_LABEL' | translate }}
    </button>
  </div>

  <div class="accounts-grid">
    <analyz-corp-card *ngFor="let account of accounts"
                      [text]="account.name"
                      [editable]="true"
                      [deletable]="true"
                      (onEdit)="onEditAccount(account.id)"
                      (onDelete)="onDeleteAccount(account.id)"
    />
  </div>
</div>

<analayz-corp-generic-modal
  [(visible)]="showEditModal"
  header="{{'EDIT_ACCOUNT_LABEL' | translate}}"
  [style]="{ width: '500px', minHeight: '200px' }"
  (confirm)="onSaveAccount()"
>
  <form [formGroup]="editForm" class="account-form">
    <div class="form-group">
      <label for="name">{{ 'accountNameLabel' | translate}}</label>
      <input id="name" type="text" formControlName="name" placeholder="{{ 'accountNamePlaceholder' | translate }}">
      <div *ngIf="editForm.get('name')?.invalid && editForm.get('name')?.touched" class="error">
        {{ 'accountNameRequired' | translate }}
      </div>
    </div>
  </form>
</analayz-corp-generic-modal>
