.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.layout-menu {
  width: 250px;
  padding: 1rem;
  background-color: var(--color-surface);
  border-right: 1px solid var(--color-border);
  transition: all 0.3s ease;

  @media(min-width: 768px){
    &.hidden {
      width: 0;
      padding: 0;
      border: none;
      overflow: hidden;
    }
  }

  &.modal {
    position: fixed;
    top: 60px;
    left: 0;
    width: 250px;
    height: calc(100% - 60px);
    z-index: 1000;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    transform: translateX(0);
    background-color: var(--color-surface);

    &.hidden {
      transform: translateX(-100%);
    }
  }

}

.layout-menu.hidden {
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}

.layout-main {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  transition: all 0.3s ease;

  @media(min-width: 768px){
    &.full-width {
      width: 100%;
    }
  }
}
