/* You can add global styles to this file, and also import other style files */
@use "styles/typography" as *;
@use "styles/colors" as *;
@use 'styles/theme' as *;
@import "primeicons/primeicons.css";


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-sm;
  line-height: $line-height-base;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1, h2, h3 {
  font-weight: 600;
}

button {
  font-weight: 500;
}

.button-primary {
  background-color: var(--color-primary);
  color: #fff;

  &:hover {
    background-color: var(--color-primary-dark);
  }
}

* {
  box-sizing: border-box;
}
