<section class="global-cards">
  <p-card header="Ingresos" class="ingress-card">
    <span>{{totalIncome() | currency: 'EUR' :'symbol' : '1.2-2'}}</span>
  </p-card>
  <p-card header="Gastos" class="expense-card">
    <span>{{totalExpense() | currency: 'EUR' :'symbol' : '1.2-2'}}</span>
  </p-card>
  <p-card header="Diferencia" class="diff-card">
    <span>{{totalBalance() | currency: 'EUR':'symbol' : '1.2-2'}}</span>
  </p-card>
</section>
<section>
  <account-selector
    (accountValueChange)="onSelectAccount($event)"
  />
  <year-date-picker
    (dateChange)="onSelectYear($event)"
  />
  <month-data-picker
    (dateChange)="onSelectMonth($event)"
  />
</section>
<section>
  <p-table [value]="budgetsRow" [tableStyle]="{ 'min-width': '50rem' }"
    dataKey="id"
    editMode="row">
    <ng-template #header>
      <tr>
        <th>Category</th>
        <th>Amount</th>
        <th>Expense</th>
        <th>Balance</th>
      </tr>
    </ng-template>
    <ng-template #body let-budget let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="budget">
        <td>{{ budget.categoryName }}</td>
        <td>
          <p-cellEditor>
            <ng-template #input>
              <div>
              <input
                pInputText
                type="number"
                [(ngModel)]="budget.amountBudget"
                required />
                <p-button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                          (click)="onRowEditSave(budget)" text rounded severity="secondary"></p-button>
                <p-button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                          (click)="onRowEditCancel(budget, ri)" text rounded severity="secondary"></p-button>
              </div>
            </ng-template>
            <ng-template #output>
              <div>
                {{ budget.amountBudget }}
                <p-button *ngIf="!editing" pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                          (click)="onRowEditInit(budget)" text rounded severity="secondary"></p-button>

              </div>
            </ng-template>
          </p-cellEditor>

        </td>
        <td>{{ budget.amountTransactions }}</td>
        <td>{{ budget.amountBudget + budget.amountTransactions}}</td>
      </tr>
    </ng-template>
  </p-table>
</section>
