<section class="flex flex-row column-gap-2" style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
  <div>
    <account-selector
      (accountValueChange)="selectAccount($event)"
    />
  </div>
  <div>
    <year-date-picker
      (dateChange)="onSelectYear($event)"
    />
  </div>
</section>
<section>
  <p-table [value]="transactionArray">
    <ng-template pTemplate="header">
      <tr>
        <th>Concepto</th>
        <th *ngFor="let month of months">{{ month }}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-expense>
      <tr>
        <td>{{ expense.category }}</td>
        <td *ngFor="let amount of expense.amounts">{{ amount | number:'1.2-2' }}</td>
      </tr>
    </ng-template>
  </p-table>

</section>
