<section class="options">
<p-select
  placeholder="Select Account"
  [options]="accounts"
  optionLabel="alias"
  (onChange)="selectAccount($event)"
/>
<p-button label="New Transaction" routerLink="new"/>
<p-button label="Import Transactions" (click)="showImportTransactionDialog()"/>
</section>
<p-table
  [value]="transactionsTable"
  dataKey="id"
  editMode="row"
  >
  <ng-template #header>
    <tr>
      <th>
        Date
      </th>
      <th>
        Description
      </th>
      <th>
        Category
      </th>
      <th>
        Type
      </th>
      <th>
        Amount
      </th>
      <th>
        Operations
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-transaction let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="transaction">
      <td>
        <p-cellEditor>
          <ng-template #input>
            <p-datePicker
              inputId="dateTransaction"
              name="dateTransaction"
              [(ngModel)]="transaction.date"
              dateFormat="dd/mm/yy"></p-datePicker>
          </ng-template>
          <ng-template #output>
            {{transaction.date | date: 'dd/MMM/yyyy'}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template #input>
            <input
              id="description"
              name="description"
              type="text"
              pInputText
              [(ngModel)]="transaction.description"
            />
          </ng-template>
          <ng-template #output>
            {{transaction.description}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template #input>
            <p-select
              id="category"
              name="category"
              [options]="categories"
              [(ngModel)]="transaction.category"
              optionLabel="name"
            />
          </ng-template>
          <ng-template #output>
            {{transaction.category.name}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template #input>
            <p-selectButton
              id="transactionType"
              name="transactionType"
              [options]="transactionType"
              [(ngModel)]="transaction.type"/>
          </ng-template>
          <ng-template #output>
            {{transaction.type}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template #input>
            <div class="flex flex-row">
              <input
                pInputText
                type="number"
                [(ngModel)]="transaction.amount"
                required />
              <p-select
                id="currency"
                name="currency"
                [options]="currencies"
                [(ngModel)]="transaction.currency"
                optionLabel="code"
              />
            </div>
          </ng-template>
          <ng-template #output>
             <span [className]="currencyClass(transaction.amount)">
              {{transaction.amount | currency: transaction.currency.code :'symbol' : '1.2-2'}}
            </span>
          </ng-template>
        </p-cellEditor>

      </td>
      <td>
        <div>
          <p-button *ngIf="!editing" pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                  (click)="onRowEditInit(transaction)" text rounded severity="secondary"></p-button>
          <p-button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                  (click)="onRowEditSave(transaction)" text rounded severity="secondary"></p-button>
          <p-button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                  (click)="onRowEditCancel(transaction, ri)" text rounded severity="secondary"></p-button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="importDialogVisible" [modal]="true" [header]="'Import Transactions'" [closable]="true" [style]="{ width: '400px'}">

  <div class="p-fluid">
    <div class="p-field">
      <label for="accountId">Account:</label>
      <p-dropdown id="accountId" [options]="accounts" optionLabel="alias" optionValue="id" [(ngModel)]="accountId" placeholder="Select account"/>
    </div>
  </div>

  <div class="p-field">
    <label for="transactionFileImportType">File type:</label>
    <p-dropdown id="transactionFileImportType" [options]="transactionFileImportTypes" optionLabel="label" optionValue="value" [(ngModel)]="transactionFileImportType" placeholder="Select file type"/>
  </div>

  <p-fileupload #fileInput mode="basic" [accept]="allowedFileTypes" (onSelect)="onFileSelect($event)" chooseLabel="Select CSV"></p-fileupload>

  <div class="flex justify-end mt-3">
    <p-button label="Cancel" icon="pi pi-times" class="p-button-text" (click)="importDialogVisible = false" />
    <p-button label="Subir" icon="pi pi-upload" class="p-button-primary" [disabled]="!selectedFile" (click)="uploadFile()" />
  </div>

</p-dialog>

<shared-message
  #message
  (confirm)="onCloseMessage()"
  (reject)="onCloseMessage()"
/>
